<% @players.each do |player| %>
  <%= player.name %><br />
  <%= player.nfl_team %> <br />
  <%= player.position %> <br />
  <a href="/players/<%=player.id%>/edit">Edit Player</a>
  <a href="/players/<%=player.id%>/delete">Delete</a>
  <br />
  <br />
<% end %>
 <a href="/players/new">New Player</a>
 <a href="/users/<%=current_user.id%>">My Players</a>