<% @players.each do |player| %>
  <%= player.name %><br />
  <%= player.nfl_team %> <br />
  <%= player.position %> <br />
  <a href="/players/<%=player.id%>/edit">Trade Player</a>
  <a href="/players/<%=player.id%>/delete">Delete</a>
  <br />
  <br />
<% end %>
<br />
 